<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
<<<<<<< HEAD
    <link rel="stylesheet"  type="text/css"  href="../css/style.css" />
=======
    <link rel="stylesheet" href="/css/style.css" />
>>>>>>> fa3f8863fab0c98d98335f46e9a7c8f77297eaf8
  </head>
  <body>
    <main>
      <h1><%= title %></h1>
      <ul id="kategorie">
        <% kategorie.forEach(function(kategoria){ %>
        <li><a href="/<%= kategoria%>"><%= kategoria%></a></li>
        <% }) %>
      </ul>
    </main>
  </body>
</html>