
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
  align-items: center;
  padding: 20px;
}
h1 {
  font-size: 20px;
  color: #2c3e50;
}

#zakryty {
  font-size: 30px;
  font-weight: bold;
}
input[type="text"] {
  padding: 10px;

  width: 30px;
  text-align: center;
  border: 2px solid #2c3e50;
  border-radius: 5px;

}

button {
  padding: 20px;

  background-color: #2c3e50;
  color: white;
  border: solid 1px;
  border-radius: 5px;
 

}
button:hover {
  background-color: #34495e;
}

#wyg {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #a200ff;
}
