<form action="/<%=kategoria.name%>/new" method="POST">
  <div>
  <div>
    <label for="slowo">Podaj nowe slowo:</label>
    <input
      type="text"
      name="slowo"
      id="slowo"
      required
      minlength="1"
      maxlength="50"
      <% if (locals.slowo){ %>
      value="<%= slowo %>"
      <% }%>
    />
  </div>
  <div>
    <button>Dodaj</button>
  </div>
</form>